#header
  #qbox
    #regbox.regbox
       #msg
       form(name='mya',id='target',action='starb.php')
        table
          tr
            td
              | some text
              span#regkey
                | har starb herum
              span#info
          tr
            td
              span#leader
          tr
            td
              span#input
                | jalla er bra
                input(id='inp',type='text',name='inp',value='')
          tr
            td
               #next.button.aqua
                   span.glare
                     span#buttonlbl
                       | Neste
       #flipper1.flip
          span.iflip
     #backside.regbox.hidden
       #liste
          #elever
          #delete.delete
            span.iflip
              x
       #nxt.flip.nxt
         span.iflip
       #prv.flip.prv
         span.iflip
       #flipper2.flip.back
         span.iflip
