h1 Tjenesten er foreløpig sperra pga innsigelser fra foresatte.
p
  span Vi skal se om vi kan komme tilbake med en ny versjon som ivaretar alle hensyn til de motforestillingene som er kommet fram.
p
  span En mulig løsning er at foresatte blir tildelt en unik adresse som bare gir mulighet til søk på egen klasse og timeplaner til lærere.
  span Timeplanene kan også vises uten romnavn slik at muligheten til å finne ut hvor en elev befinner seg begrenses.
p 
  span Fullversjonen vil da bare være tilgjengelig for lærere og elever som er kobla til skolens nett.
p 
  span Merk at fylket har en tilsvarende løsning som ligger fritt tilgjengelig - de samme data kan søkes opp her som i vårt system.
