.ui-autocomplete { position: absolute; cursor: default; }
/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */
.ui-menu {
    list-style:none;
    padding: 2px;
    margin: 0;
    display:block;
    float: left;
    background:#e0e0e0;
}
.ui-menu .ui-menu {
    margin-top: -3px;
}
.ui-menu .ui-menu-item {
    margin:0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%;
}
.ui-menu .ui-menu-item a {
    text-decoration:none;
    display:block;
    padding:.2em .4em;
    line-height:1.5;
    zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: -1px;
    background:#f0f0b0;
}

body {
}

table.elevliste {
   font-size:0.6em;
   color:white;
   width:90%;
}
div.fn, div.ln {
   width:70px;
   height:1.1em;
   overflow:hidden;
   white-space:nowrap;
}

div.fn {
   width:56px;
}
div.klasse {
   width:16px;
}

.flip {
  position:absolute;
  width:15px;
  height:15px;
  bottom:10px;
  right:10px;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  -opera-border-radius:8px;
  -khtml-border-radius:8px;
  border-radius:8px;
  border:1px solid #000;
  background-color:#55C;
  background:-moz-linear-gradient(left,blue,white);
  background-image:-webkit-gradient(linear, left center, right center, from(#00f), to(#fff))
}

.back {
  background:-moz-linear-gradient(right,blue,white);
  background-image:-webkit-gradient(linear, left center, right center, from(#fff), to(#00f))
}

.prv, .nxt {
  right:40px;
  border:1px solid #000;
  width:13px;
  height:13px;
  font-size:0.8em;
  background-image:-moz-radial-gradient(80% 50%,circle farthest-side,yellow,green 95%,rgba(255,255,255,0));
  background-image:-webkit-gradient(radial,80% 50%,3,80% 50%,13,from(yellow),color-stop(75%, green),to(rgba(255,255,255,0)));
}
.prv {
  right:60px;
  background-image:-moz-radial-gradient(20% 50%,circle farthest-side,yellow,green 95%,rgba(255,255,255,0));
  background-image:-webkit-gradient(radial,20% 50%,3,20% 50%,13,from(yellow),color-stop(75%, green),to(rgba(255,255,255,0)));
}

.delete {
  position:absolute;
  top:30px;
  width:8px;
  height:8px;
  right:3px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -opera-border-radius:5px;
  -khtml-border-radius:5px;
  border-radius:5px;
  border:1px solid #E00;
  background-color:#F55;
  color:#fff;
  font-size:0.7em;
}

.withmargin {
  margin-left:30px;
}

#prv:hover, #nxt:hover, #flipper2:hover, #flipper1:hover {
  background:-moz-linear-gradient(top,white,blue);
  background-image:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#00f))
 }

.iflip {
  position:relative;
  left:3px;
  top:-6px;
}

div.delete > div.iflip {
  left:1px;
  top:-4px;
}


#qbox {
  position:relative;
  width:200px;
  margin-right:auto;
  margin-left:auto;
  color:white;
}

#msg {
  position:absolute;
  top:38px;
  left:35px;
  width:200px;
  height:50px;
  color:red;
}
#regkey {
  color:white;
  font-size:2.2em;
}

#liste {
  position:relative;
  padding:5px;
  padding-top:0px;
  margin-top:0px;
  color:white;
  height:180px;
}

#elever {
}


.regbox {
  position:absolute;
  top:0;
  left:0;
  width:200px;
  height:200px;
  padding:1em;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  -opera-border-radius:8px;
  -khtml-border-radius:8px;
  border-radius:8px;
  border:1px solid #000;
  background-color:#000;
  background-image:-webkit-gradient(linear, 0% 1%, 0% 95%, from(rgba(28, 91, 155, 0.8)), to(rgba(108, 191, 255, .9)),
  color-stop(.8,rgba(64,64,64,0.25)),color-stop(.25,rgba(32,32,32,0.5)));
  background:-moz-linear-gradient(rgba(28, 91, 155, 0.8) 0%, rgba(108, 191, 255, .9) 90%);
}

.hidden {
    display:none;
}

#buttonlbl {
 position:relative;
 top: -7px;
}


#starbreg, #wait {
  color:white;
}

input {
  background:white;
}
table.left th {
  text-align:left;
}

table {
   /*color:eee;*/
   margin-top:10px;
}
td {
   text-align:left;
}
.aqua{
    background-color: rgba(60, 132, 148, 0.8);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(28, 91, 155, 0.8)), to(rgba(108, 191, 255, .9)));
    background-image: -moz-linear-gradient(rgba(28, 91, 155, 0.8) 0%, rgba(108, 191, 255, .9) 90%);
    border-top-color: #8ba2c1;
    border-right-color: #5890bf;
    border-bottom-color: #4f93ca;
    border-left-color: #768fa5; 
    -webkit-box-shadow: rgba(66, 140, 240, 0.5) 0px 10px 16px;
    -moz-box-shadow: rgba(66, 140, 240, 0.5) 0px 10px 16px; /* FF 3.5+ */
}
.button{
     width: 90px;
     height: 14px;
     padding: 5px 16px 3px;
     -webkit-border-radius: 16px;
     -moz-border-radius: 16px;
     border-radius: 16px;
     border: 2px solid #ccc;
     margin-left:auto;
     margin-right:auto;
     margin-top:20px;
     position: relative;
     
     /* Label */
     font-family: Lucida Sans, Helvetica, Verdana, sans-serif;
     font-weight: 600;
     color: #fff;
     text-shadow: rgba(10, 10, 10, 0.5) 1px 2px 2px;
     text-align: center;
     vertical-align: middle;
     white-space: nowrap;
     text-overflow: ellipsis; 
     overflow: hidden;
     -moz-box-shadow: 3px 3px 3px #000;
     -webkit-box-shadow: 3px 3px 3px #000;
     box-shadow: 3px 3px 3px #000;

}
 
.button:hover {
     text-shadow: rgb(255, 255, 255) 0px 0px 5px;
}
.button:active {
     text-shadow: rgb(255, 255, 255) 0px 0px 5px;
     -moz-box-shadow: none;
     -webkit-box-shadow: none;
     box-shadow: none;
     top:2px;
     left:2px;
}

.button .glare {
     position: absolute;
     top: 0;
     left: 5px;
     -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
     border-radius: 8px;
     height: 1px;
     width: 112px;
     padding: 8px 0;
     background-color: rgba(255, 255, 255, 0.25);
     background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0)));
     background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 95%);
}

div.msoyle {
     width:4px;
     height:15px;
     position:absolute;
     border:solid gray 1px ;
     background-color:red;
}
div.soyle {
     width:4px;
     height:15px;
     color:blue;
     position:absolute;
     border:solid green 1px ;
     background-color:green;
}
div.graf {
     padding-top:2px;
     height:20px;
     position:relative;
     width:60%;
     margin-right:auto;
     margin-left:auto;
}
