

#wbmain {
  margin:5px;
  padding:10px;
  width:65em;
  margin-left:auto;
  margin-right:auto;
  background: -moz-linear-gradient(left,#c6c6c6,#e2eAe0);
  background-image: -o-linear-gradient(left,#c6c6c6,#e2eAe0);
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#c6c6c6), to(#e2eAe0));
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-box-shadow: 3px 3px 2px rgba(0, 0, 0, .4);
  -moz-box-shadow: 3px 3px 2px rgba(0, 0, 0, .4);
}


div.wbingress, div.wbbodytxt, div.wbsummary {
    margin:5px;
}

div.wbsummary table {
  margin-left:auto;
  margin-right:auto;
  width:90%;
  border-collapse:collapse;
}

div.wbsummary table td {
    width:20%;
    border: solid gray 1px;
}


span.wbteachedit {
 position:relative;
}
span.wbedit {
 position:absolute;
 width:16px;
 background:transparent url(/img/edit.gif) no-repeat;
}

#edqlist {
  position:absolute;
  right:30px;
  top:10px;
}

#editform {
  margin-left:auto;
  margin-right:auto;
  width:600px;
}
#editform table {
  width:100%;
  border-collapse:collapse;
}

#editform table td,#editform table th {
  border:none;
  width:20%;
  text-align:left;
}
#editform textarea,#editform input {
  width:80%;
  background:#ffffe0;
}
#editform textarea {
  height:100px;
}

#qlistbox {
  position:relative;
  border:solid gray 1px;
  background:white;
  width:90%;
  min-height:200px;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-box-shadow: 3px 3px 2px rgba(0, 0, 0, .4);
  -moz-box-shadow: 3px 3px 2px rgba(0, 0, 0, .4);
}

