path {
  stroke-width: 1;
  fill: none;
}

line.yTicks, line.xTicks {
   stroke: black;
   stroke-width: 0.3;
}

text {
  font-family: Arial;
  font-size: 0.5em;
}

text.funlabel {
  font-family: Arial;
  font-size: 0.7em;
}

.chart rect {
   fill: steelblue;
   stroke: white;
}


