#header
  #qbox
    #regbox.regbox
       #msg
       form(name='mya',id='target')
          span#regkey.inf
          span#rom.inf
          span#antall.inf
          span#start.inf
          span#varighet.inf
          span#info
          span#input
            label Skriv passord : &nbsp;
            input(id='pwd',type='password',name='password',autocomplete="on",autofocus="on",placeholder="passord")
          #next.button.aqua
               span.glare
                 span#buttonlbl
                   span#butxt Vent ...
